<!-- Default form subscription -->
<div mdbModal #reset="mdbModal">
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Recover your account</p>
  
    <p>We'll Send A Recovery Link To Your Email</p>

    <!-- Email -->
    <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail">
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" type="submit">SEND EMAIL</button>
    
    <hr>

    <p style="margin-left: 50px; margin-top: 15px; font-size: 11px;">New To EdeliveryMate ?
        <a  (click)="openSignUpPage()" style="color: rgb(207, 124, 75);">SIGN UP</a>
      </p>
  
  </form>
  <!-- Default form subscription -->
</div>