
<!-- Default form register -->
<div mdbModal #frame="mdbModal" >
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" (submit)="registerUserDetail($event)">
      <ng-template matStepLabel>Basic Info</ng-template>
      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First name" id="firstName" type="text" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>
        <div class="col">
          <!-- Last name -->
          <mat-form-field>
            <mat-label>Last name </mat-label>
            <input matInput placeholder="Last name" id="lastName" type="text" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row mb-4">
        <div class="col">
          <!-- User name -->
          <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput placeholder="User name" id="userName" type="text" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>
        <div class="col">
          <!-- Email -->
          <mat-form-field>
            <mat-label>Email </mat-label>
            <input matInput placeholder="Email" id="email" type="email" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="col">
          <!-- password -->
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" id="password"  type="password" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>
        <div class="col">
          <!-- Confirm Password -->
          <mat-form-field>
            <mat-label>Confirm Password </mat-label>
            <input matInput placeholder="Confirm Password" id="confirmPassword" formControlName="firstCtrl" required>
          </mat-form-field>
        </div>
      </div>
      
      <div style="display: flex;">
        <div>
          <p style="margin-left: 40px; margin-top: 13px; font-size: 11px;">Already have an account?
            <a  (click)="openLoginPage()" style="color: rgb(207, 124, 75);">LOG IN</a>
          </p>
        </div>
        <div style="margin-left: 100px;">
          <button mat-button color="primary" type="submit" matStepperNext>Next</button>
        </div>
      </div>
     
    </form>
   
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [optional]="true">
    <form [formGroup]="secondFormGroup"  (submit)="registerUser($event)">
      <ng-template matStepLabel>Additional Info </ng-template>
      <div class="form-row mb-4">
        <div class="col">
          <!-- Address -->
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
          </mat-form-field>
        </div>
        <div class="col">
          <!-- Last name -->
          <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selectedRole">
              <mat-option value="end-user">End-User</mat-option>
              <mat-option value="agent">Agent</mat-option>
              <mat-option value="Company">Company</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row mb-4">
        <div class="col">
          <!-- phone number -->
          <!-- <mat-form-field class="example-full-width">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field> -->
          <div [formGroup]="form">
            <mat-form-field appearance="fill">
              <mat-label>Phone number</mat-label>
              <app-telephone-field formControlName="tel" required></app-telephone-field>
              <mat-icon matSuffix>phone</mat-icon>
              <!-- <mat-hint>Include area code</mat-hint> -->
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <!-- upload file-->
          <mat-form-field class="columns">
            <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
            <ng-template #newFile>
                <mat-label>Choose file</mat-label>
            </ng-template>
            <input matInput disabled>
            <button mat-icon-button matSuffix (click)="fileInput.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
            <input hidden (change)="selectFile($event.target.files)" #fileInput type="file" id="file">
        </mat-form-field>
        </div>
      </div>
   
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button color="primary" type="submit" matStepperNext>Sign Up</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="secondFormGroup" (submit)="SignupDone()">
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button color="primary">Done</button>
    </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
</div>