<!-- t Navbar--> 
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo lighten-1" [containerInside]="false">
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="">
        </a>
    </mdb-navbar-brand>

    <links>
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <mdb-icon fas icon="search"></mdb-icon>
                            </div>
                        </div>
                        <input mdbInput type="text" class="form-control py-0 searchEverything"
                            id="inlineFormInputGroupUsername2" placeholder="Search for anything">
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    <input mdbInput type="text" class="form-control mb-2 mr-sm-2 locationDisplay"
                        id="inlineFormInputName2" placeholder="">
                </a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons leftNavs">

            <li class="nav-item">
                <a class="nav-link">
                    <mdb-icon fas icon="shopping-cart"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <mdb-icon fas icon="envelope"></mdb-icon>
                </a>
            </li>
            <li class="nav-item avatar dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" alt=""
                        class="img-fluid rounded-circle z-depth-0" style="width: 30px;"></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>

<!-- second Navbar-->

<mdb-navbar SideClass="navbar white lighten-1" class="secondNavs" [containerInside]="false">
    &nbsp; &nbsp;
    <a class="nav-link active" routerLink="/order/delivery" id="activeLink">
        <mdb-icon fas icon="couch"></mdb-icon> &nbsp; FURNITURE
    </a>
    <a class="nav-link" href="#">
        <mdb-icon fas icon="utensils"></mdb-icon> &nbsp; FOOD
    </a>
    <a class="nav-link" href="#">
        <mdb-icon fas icon="tshirt"></mdb-icon> &nbsp; LAUNDARY
    </a>
    <a class="nav-link" href="#">
        <mdb-icon fas icon="shopping-basket"></mdb-icon>&nbsp; GROCERIES
    </a>
    <a class="nav-link" href="#">
        <mdb-icon fas icon="gift"></mdb-icon>&nbsp; GIFTS
    </a>
    <a class="nav-link disabled" href="#">
        <mdb-icon fas icon="university"></mdb-icon>&nbsp; MORE STORE
    </a>
    <a class="nav-link" href="#"></a>
    <a class="nav-link" href="#"></a>
    <a class="nav-link" href="#"></a>
    <a class="nav-link disabled " id="forcompany" href="#">For company</a>
    <a class="nav-link disabled" href="#" id="chat">
        <mdb-icon fas icon="sms"></mdb-icon>
    </a>
</mdb-navbar>


<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" (submit)="orderDetail($event)">
            <ng-template matStepLabel>ORDER DETAILS</ng-template>
            <div class="dynamicContent">
                <div class="contentRight">
                    <mdb-card class="dynamicCard">
                        <mdb-card-body>
                            <div class="form-row mb-4">
                                <div class="col">
                                    <!--name of order -->
                                    <p style="font-weight: bold; font-size: 15px;">Package Name:</p>
                                    <mat-form-field>
                                        <mat-label>Name</mat-label>
                                        <input matInput placeholder="First name" id="itemName" type="text"
                                            formControlName="firstCtrl" required>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <!-- category -->
                                    <p style="font-weight: bold; font-size: 15px;">Package Category:</p>
                                    <!-- <p style="font-size:11px;">used to compute shipping cost</p> -->
                                    <mat-form-field appearance="fill">
                                        <mat-select [(value)]="selectedCategory">
                                            <mat-option value="furniture">Furniture</mat-option>
                                            <mat-option value="food">Food</mat-option>
                                            <mat-option value="laundary">Laundary</mat-option>
                                            <mat-option value="groceries">Groceries</mat-option>
                                            <mat-option value="gifts">Gifts</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-row mb-4">
                                <div class="col">
                                    <!-- source address -->
                                    <p style="font-weight: bold; font-size: 15px;">Source Address:</p>
                                    <p style="font-size:11px;">shipping from:</p>
                                    <mat-form-field>
                                        <mat-label>Source Address </mat-label>
                                        <input matInput placeholder="Ex. 1 ruwanda St, Addis Ababa, AA"
                                            id="sourceAddress" type="search" formControlName="firstCtrl" required>
                                    </mat-form-field>

                                </div>
                                <div class="col">
                                    <!-- destination address -->
                                    <p style="font-weight: bold; font-size: 15px;">Destination Address:</p>
                                    <p style="font-size:11px;">shipping to:</p>
                                    <mat-form-field>
                                        <mat-label>Destination Address</mat-label>
                                        <input matInput formControlName="secondCtrl" type="search" id="destAddress"
                                            placeholder="Ex. 1 ruwanda St, Addis Ababa, AA" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-row mb-4">
                                <div class="col">
                                    <!-- Delivery Date -->
                                    <p style="font-weight: bold; font-size: 15px;">Delivery Date:(locally)</p>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Choose a date</mat-label>
                                        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker"
                                            (dateInput)="addEvent($event)" (dateChange)="addEvent($event)">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <!--Package Weight -->
                                    <p style="font-weight: bold; font-size: 15px;">Service Type:</p>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Package Weight</mat-label>
                                        <mat-select [(value)]="selectedService">
                                            <mat-option value="motor">Motor</mat-option>
                                            <mat-option value="pickup">Pickup</mat-option>
                                            <mat-option value="damas">Damas</mat-option>
                                            <mat-option value="isuzuOpen">Option</mat-option>
                                            <mat-option value="van">Isuzu Van</mat-option>
                                            <mat-option value="sinoTrack">Sino Track</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <hr>
                            <p style=" font-size: 15px;">Choose your courier:</p>
                            <div class="form-row mb-4">
                            </div>

                            <div style="display: flex;">
                                <div>

                                </div>
                                <!-- <div style="margin-left: 100px;">
                                    <button mat-button color="primary" type="submit" matStepperNext>Next</button>
                                </div> -->
                            </div>
                        </mdb-card-body>
                    </mdb-card>
                </div>

                <div class="contentLeft">

                    <mdb-card class="staticCard">
                        <mdb-card-body>
                            <!-- Map goes here -->
                            <div class="map-container">
                                <div class="map" id="map" class="match-parent"></div>
                            </div>
                            <!-- <div id="test"></div>
                            <div class="form-group">
                                <label>Addresses <span style="color: red">*</span></label>
                                <input id="date" type="text" name="sourceAddress">
                               
                            </div> -->
                        </mdb-card-body>
                    </mdb-card>
                    <mdb-card class="staticCard2">
                        <mdb-card-body>
                            <div class="form-row mb-4">
                                <!-- Summarry -->
                                <h6 style="font-weight: bold; font-size: 18px;">Summary</h6>
                                <mat-divider></mat-divider>
                                <p style="font-size:13px;">The total cost consist of the tax and shipping charge</p>
                                <!-- <hr> -->
                            </div>
                            <div class="form-row mb-4">
                                <div class="col">
                                    <p>shipping</p>
                                </div>
                                <div class="col">
                                    <p>$11.99</p>
                                </div>
                            </div>
                            <div class="form-row mb-4">
                                <div class="col">
                                    <p>Tax</p>
                                </div>
                                <div class="col">
                                    <p>5.00</p>
                                </div>
                            </div>
                            <hr style="border-radius: 2px;">

                            <div class="form-row mb-4">
                                <div class="col">
                                    <p style="font-weight: bold; font-size: 20px;">Total</p>
                                </div>
                                <div class="col">
                                    <p>$17</p>
                                </div>
                            </div>
                        </mdb-card-body>
                        <div>
                            <button mat-button color="primary" matStepperNext>Next</button>
                        </div>
                    </mdb-card>
                </div>
            </div>

        </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
        <!-- [optional]="true" -->
        <form [formGroup]="secondFormGroup" (submit)="orderDelivery($event)">
            <ng-template matStepLabel>PERSONAL DETAILS </ng-template>
            <div class="dynamicContent">
                <div class="contentLeft">
                    <mdb-card class="staticCard">
                        <mdb-card-body>
                            <div id="test"></div>
                            <div class="form-group">
                                <label>sourceAddress <span style="color: red">*</span></label>
                                <input id="date" type="text" name="sourceAddress">
                                <!--  Map goes here
                                <div class="map-container">
                                    <div class="map" id="map" class="match-parent"></div>
                                </div> -->
                            </div>
                        </mdb-card-body>
                    </mdb-card>

                </div>
                <div class="contentRight">
                    <mdb-card class="dynamicCard">
                        <mdb-card-body>
                            <div class="form-row mb-4">
                                <div class="col">
                                    <!-- First name -->
                                    <mat-form-field>
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="First name" id="firstName" type="text" required>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <!-- Last name -->
                                    <mat-form-field>
                                        <mat-label>Last name </mat-label>
                                        <input matInput placeholder="Last name" id="lastName" type="text" required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-row mb-4">
                                <div class="col">
                                    <!-- Email -->
                                    <mat-form-field>
                                        <mat-label>Email </mat-label>
                                        <input matInput placeholder="Email" id="email" type="email" required>
                                    </mat-form-field>

                                </div>
                                <div class="col">
                                    <!-- Address -->
                                    <mat-form-field>
                                        <mat-label>Address</mat-label>
                                        <input matInput placeholder="Ex. 1 Main St, New York, NY" id='address' required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-row mb-4">
                                <div class="col">
                                    <div [formGroup]="form">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Telephone</mat-label>
                                            <span matPrefix>+1 &nbsp;</span>
                                            <input type="tel" id="phone" matInput placeholder="555-555-1234">
                                            <mat-icon matSuffix>mode_edit</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                            <div class="form-row mb-4">
                                <div class="col">

                                </div>
                                <div class="col">
                                    <div>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button color="primary" type="submit" matStepperNext >Order Delivery</button>
                                    </div>
                                </div>
                            </div>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>

        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>PAYMENT</ng-template>
        <!-- <div class="contentRight">
            <mdb-card class="dynamicCard">
                <mdb-card-body>
                </mdb-card-body>
            </mdb-card>
            <div class="form-row mb-4">
                <div class="col">
                </div>
                <div class="col">
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button color="primary" matStepperNext>Next</button>
                    </div>
                </div>
            </div>
        </div> -->
        <app-payment></app-payment>
        <!-- navigation -->
        <div class="col">
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button color="primary" matStepperNext>Next</button>
            </div>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>CONFIRMATION</ng-template>
        <div class="contentRight">
            <mdb-card class="dynamicCard">
                <mdb-card-body>

                </mdb-card-body>
            </mdb-card>
            <div class="form-row mb-4">
                <div class="col">

                </div>
                <div class="col">
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button color="primary" (click)="stepper.reset()">PLACE ORDER</button>
                    </div>
                </div>
            </div>

        </div>

    </mat-step>
</mat-horizontal-stepper>

<!-- Map goes here -->
<div class="map-container">
    <div class="map" id="map" class="match-parent"></div>
</div>

<!-- footer content -->
<div class="content" role="main">
    <footer>
        <!-- Copyright -->
        <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
                <path d="M0 0h24v24H0z" fill="none" /></svg>
        </a>
    </footer>
    <!-- Copyright -->

    <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677"
        viewBox="0 0 2611.084 485.677">
        <path id="Path_39" data-name="Path 39"
            d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
            transform="translate(142.69 -634.312)" fill="#eee" />
    </svg>
</div>

<!-- success modal -->

<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" (open)="onOpen($event)">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Order Delivery</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>You successfully set your order. Got to payment to finish order for delivery</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <!-- <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect >Go To Payment
          <mdb-icon far icon="gem" class="ml-1"></mdb-icon>
        </a> -->
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
          data-dismiss="modal">Order Done</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!-- <router-outlet></router-outlet> -->